css
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:lightgrey ;
    text-align: center;
    padding: 50px;
}
.body-page {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
}
.second-body {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 17px;
}
.project-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.link-container a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.link-container a:hover {
    color:turquoise
}
.resume-button {
    font-weight: bold;
}
.link-container-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.link-container-contact a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.link-container-portfolio a:hover {
    color:turquoise
}
.contact-info {
    font-weight: bold;
}
.link-container-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.link-container-portfolio a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.link-container-portfolio a:hover {
    color:turquoise
}
.contact-info {
    font-weight: bold;
}
.B-D {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.donut-video {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.clamp {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.merged { 
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.Bonsai {
    width: 100%;
    max-width: 1100px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}
.Freecadhouse {
    width: 100%;
    max-width: 270px;
    height: auto;
    border-radius: 8px;
    align-items: center;
}